@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  background: linear-gradient(135deg, #e9f1f7, #c8d8e6, #a7c4dd);
  background-attachment: fixed; /* smooth effect when scrolling */
  color: #222; /* adjust to your design */
  font-family: "Tinos", sans-serif; 
  color: #222222; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lavishly Yours", sans-serif;
}

a {
  color: #222222;
}

a:vistied {
  text-decoration: line-through;
  color: rgba(#222222,#222222,#222222,.5);
}
